<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aerospike.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aerospike.Demo.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ClusterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="Set" serializeAs="String">
                <value>demoset</value>
            </setting>
            <setting name="Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncThreads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AsyncThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AsyncMaxCommands" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Records" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="BinType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BinSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FixedValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitPct" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ReadPct" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WritePct" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SleepBetweenRetries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetryOnTimeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadReplica" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Latency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatencyColumns" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LatencyShift" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TlsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TlsName" serializeAs="String">
                <value />
            </setting>
            <setting name="TlsProtocols" serializeAs="String">
                <value />
            </setting>
            <setting name="TlsRevoke" serializeAs="String">
                <value />
            </setting>
            <setting name="TlsEncryptOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </Aerospike.Demo.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
