<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aerospike.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aerospike.Admin.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ClusterName" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="TlsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TlsName" serializeAs="String">
                <value />
            </setting>
            <setting name="TlsProtocols" serializeAs="String">
                <value />
            </setting>
            <setting name="TlsRevoke" serializeAs="String">
                <value />
            </setting>
            <setting name="TlsClientCertFile" serializeAs="String">
                <value />
            </setting>
        </Aerospike.Admin.Properties.Settings>
     </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
