name: Build and test stage
run-name: Build artifacts and run stage tests (registry-name=${{ inputs.registry-name }}, server-tag=${{ inputs.server-tag }})

permissions:
  # This is required for requesting the OIDC token
  id-token: write

# Trigger test workflow whenever:
# Pushes to stage branch
on:
  push:
    branches: ["stage"]
  workflow_dispatch:
    inputs:
      registry-name:
        type: string
        required: false
        description: Registry name
        default: 'docker.io'
      image-name:
        type: string
        required: false
        description: Image name
        default: 'aerospike/aerospike-server-enterprise'
      server-tag:
        type: string
        required: true
        default: 'latest'
        description: 'Server docker image tag'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Build artifacts
      uses: ./.github/actions/build
      with:
        sgKey: ${{ secrets.SG_KEY }}
        
    - name: Upload to JFrog
      uses: ./.github/actions/upload-to-jfrog
      with:
        jfrog-client-repo-name: database-nuget-stage-local
        jfrog-tests-repo-name: database-generic-stage-local
      
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Test
      uses: ./.github/actions/test
      with:
        jfrog-tests-repo-name: database-generic-stage-local
        registry-name: ${{ inputs.registry-name }}
        image-name: ${{ inputs.image-name }}
        server-tag: ${{ inputs.server-tag }}
        registry-username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
        registry-password: ${{ secrets.DOCKER_HUB_BOT_PW }}
   
