name: Run tests

# Trigger test workflow whenever:
# 1. A pull request is updated (e.g with new commits)
# 2. Commits are pushed directly to the stage or master branch
on:
  push:
    branches: ["stage*", "master*"]
  pull_request:
    branches: ["stage*", "master*"]
    types: [
      # Default triggers
      opened,
      synchronize,
      reopened,
      # Additional triggers
      labeled,
      unlabeled
    ]
  workflow_dispatch:
    inputs:
      test-server-rc:
        type: boolean
        default: false
        required: true

jobs:

  test-ee:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: ./.github/actions/run-ee-server
      with:
        use-server-rc: use-server-rc: ${{ contains(github.event.pull_request.labels.*.name, 'new-server-features') }}
        docker-hub-username: ${{ secrets.DOCKER_HUB_BOT_USERNAME }}
        docker-hub-password: ${{ secrets.DOCKER_HUB_BOT_PW }}
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore /p:EnableWindowsTargeting=true

    - name: Build
      run: dotnet build --configuration Release --no-restore /p:EnableWindowsTargeting=true

    - name: Run tests
      run: dotnet test --configuration Release --no-build --verbosity normal

    - name: Show logs if failed
      if: ${{ failure() }}
      run: |
        docker container logs aerospike
        cat ./configs/aerospike.conf
